*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	width: 100%;
	/* 径向渐变,从中心开始变化 */
	background-image: radial-gradient(circle at center center,rgba(244,23,234,0.2),rgba(0,0,0));
	background-color: #000;
	overflow: hidden;
}

.wrap{
	perspective: 1000px;
}

.box{
	position: relative;
	width: 120px;
	height: 180px;
	/*border: 1px solid red;*/
	margin: 250px auto;
	transform-style: preserve-3d;
}

.box img{
	/* 是所有图片重叠在一起 */
	position: absolute;
	width: 100%;
	height: 100%;
	/* 倒影，四个方向，right，below */
	-webkit-box-reflect: below 10px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5)100%);
}

